<!DOCTYPE html>
<html>
<head>
	<title>Caesar cipher</title>
	<link rel="stylesheet" href="static/secret_hf.css"></link>
</head>
<body>
</div>
<h2>Залогиньтесь, чтобы посмотреть логи</h2>
<form method='POST' action="/viewlog">
	<table>
			<td>C-ID:</td>
			<td><input name='C-ID' type='TEXT' width="60" required></td>
		</tr>
		<tr>
			<td>Пароль:</td>
			<td><input name='password' type='TEXT' width="60" required></td>
		</tr>
	</table>
	<p><button class="but" type = "SUBMIT">Login!</button></p>
</form>
</body>
</html>